# Variables and variable types

## "Regular" variables

1. strings
1. integers
1. floats

## "Collection" variables

1. tuples
1. lists
1. sets
1. dictionaries

From https://www.w3schools.com:

- **Strings** are for storing text
- **Integers** are for storing whole numbers, positive or negative (such as 123 or -456), without decimals.
- **Floats** are for storing positive and negative numbers with a decimal point, like 35.3, or -2.34
- **Lists** are collections which are ordered and changeable. Allows duplicate members.
- **Tuples** are collections which are ordered and unchangeable. Allows duplicate members.
- **Sets** are collections which are unordered, "unchangeable", and unindexed. No duplicate members.
- **Dictionaries** are collections which are ordered and changeable. No duplicate members.

## Strings

In [1]:
hello = "Hello World!"
number_five = "5"

In [2]:
type(hello)

str

## Integers

In [5]:
myint = 78

## Floats

In [6]:
myfloat = 6.67
type(myfloat)

float

## Lists

In [38]:
fruits = ['grapes', 'yams', 'bananas']
Dairy = ("milk", "ymer", "cheese")

## Tuples

In [8]:
veggies= ('broccoli', 'onion', 'cucumber')

## Sets

In [9]:
fruits.append('cherries')
fruits

['grapes', 'yams', 'bananas', 4, 'cherries']

In [10]:
set(fruits)

{4, 'bananas', 'cherries', 'grapes', 'yams'}

In [11]:
len(set(fruits))

5

## Dictionaries

In [12]:
Christian = {'name': 'Christian',
             'age': 23,
             'hair': 'Fairly short',
             'likes': 'Cooking',
             'dislikes': "Balut"}

In [13]:
Christian

{'name': 'Christian',
 'age': 23,
 'hair': 'Fairly short',
 'likes': 'Cooking',
 'dislikes': 'Balut'}

In [15]:
for x in range(5):
    print (x)

0
1
2
3
4

### For loops

In [19]:
for x in fruits:
    print (x)

grapes
yams
bananas
4
cherries

### Conditionals

In [44]:
for x in fruits:
    if x.startswith('y'):
        print ('I love ' + x + '!')
    else:
        print ('I hate ' + x + '!')

I hate grapes!
I love yams!
I hate bananas!

In [45]:
myfavfruits = []
for x in fruits:
    if x.startswith('y'):
        print ('I love ' + x + '!')
        myfavfruits.append(x)
    else:
        print ('I hate ' + x + '!')

I hate grapes!
I love yams!
I hate bananas!

In [46]:
myfavfruits

['yams']

In [31]:
f = [x for x in fruits]

In [33]:
f

['grapes', 'yams', 'bananas', 4, 'cherries']

In [ ]:
fruits =